body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Tope mobile start */
.icon {
  color: lightblue;
}

.button-subscribe {
  font-size: 11px;
}

.header-text-newsweek {
  font-size: 25px;
  font-weight: 700;
}

/* Featured stories */
.text-link {
  font-family: "Roboto Condensed", sans-serif;
}

.text-link:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.text-font {
  font-size: 15px;
}

/* Tope mobile end */

/* Soliu footer start */
footer {
  min-height: 100px;
}

footer .footer-h1 {
  font-size: 40px;
  font-weight: 700;
  color: red;
}

div.text-secondary-emphasis {
  font-size: small;
}

ul.list-group {
  list-style-type: none;
  gap: 20px;
  font-size: small;
}

ul.list-group > li:hover {
  cursor: pointer;
  color: black;
}

ul.footer-links-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  font-size: small;
  color: gray;
}

.hove:hover {
  color: rgba(0, 0, 255, 0.509);
}

/* Soliu footer end */

/* My Turn/ Culture & Travel Images */
.section-header {
  font-size: 16px;
  color: darkgrey;
}

.ts-myturn-text {
  color: rgb(169, 169, 169);
}

.img {
  width: -webkit-fill-available;
}

.image-margin {
  margin-top: 25px;
}

/* tab view */
@media screen and (min-width: 768px) {
  /* Tope's tab start */
  .button-subscribe {
    font-size: 15px;
    font-weight: 800;
  }

  .icon {
    font-size: 36px;
  }

  /* Tope's tab end */

  /* Soliu's tab start */
  .text-secondary-emphasis {
    margin: 30px 0 0 30px;
  }

  /* Soliu's tab end */

  /* My Turn/ Culture & Travel Images */

  .img {
    max-width: 100%;
    height: auto;
  }

  .image-margin {
    margin-top: 0;
  }
}

/* desktop view */
@media screen and (min-width: 1024px) {
  /* Tope's desktop start */
  .header-text-newsweek {
    font-size: 60px;
    font-weight: 900;
  }

  .header-log-sub {
    margin-right: 12px;
  }

  .header-subscribe {
    margin-top: 35px;
  }

  .header-date {
    padding-left: 20px;
  }

  /* nav-bar */
  .header-navbar1 {
    justify-content: space-between;
    font-size: large;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .header-navbar2 {
    column-gap: 2em;
  }

  .nav-US {
    margin-left: 12px;
  }

  .line {
    margin-right: -25px;
    margin-left: -25px;
    color: darkgrey;
    font-size: x-large;
  }

  .nav-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .h:hover {
    color: red;
  }

  .search-bar {
    margin-right: 20px;
    font-size: initial;
    margin-left: -15px;
    margin-top: 10px;
    color: darkgrey;
  }

  .search-icon {
    margin-left: 5px;
    font-size: 30px;
  }

  .trending {
    margin-left: 20px;
  }

  .nav-link2 {
    text-decoration: none;
    color: darkgrey;
    font-weight: 600;
  }

  .sub-nav-link {
    margin-top: 8px;
  }

  /* Tope's desktop end */

  /* Margin for the featured stories and debate containers */
  .featured {
    margin-left: 40px;
  }

  .debate {
    margin-right: 40px;
  }
}

/* Mega desktop view for xx-large screens */
@media screen and (min-width: 1400px) {
  body {
    margin: 0 100px 0 100px;
  }
}
